:root {
  --primary-color: #00d4ff;
  --primary-shadow: rgba(0, 212, 255, 0.55);
  --light-white: #f9f8fa;
  --white-font: #fff;
  --dark-grey: #999;
  --mid-grey: #777;
  --light-grey: #666;
  --light-blue: #dcedf7;
  --color-black: #000000;
}
